<div>
  <input id="audio-only" type="checkbox" [(ngModel)]="isAudioOnly">Audio Only
</div>
<div>
  <input id="record-only" type="checkbox" [(ngModel)]="isRecordOnly">Record Only
</div>
<ng-container *ngIf="!roomName">
  <div>
    New Room:
    <input placeholder="Room Name" matInput #input>
    <button (click)="create(input.value)">Create</button>
  </div>
  <div>
    Join Room:
      <select id="room" #selected>
        <ng-container *ngFor="let room of rooms | async">
          <option [value]="room.name">{{ room.name }}</option>
        </ng-container>
      </select>
    <button id="join" (click)="join(selected.value)">Join</button>
  </div>
</ng-container>
<ng-container *ngIf="roomName">
  <div>
    SkyWay ID: {{ skywayId }}
  </div>
  <div>
    <button (click)="exit()" id="exit">Exit</button>
    <button (click)="record()" id="record">{{ recoringText }}</button>
    <ng-container *ngIf="blobUrl">
      <a [href]="blobUrl" download="recorded.webm" id="download" >Download</a>
    </ng-container>
  </div>
</ng-container>
<div>
  <ng-container *ngFor="let videoStream of videoStreams">
    <app-video-player [stream]="videoStream.stream" [id]="videoStream.id"></app-video-player>
  </ng-container>
</div>
